* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    
    
}

nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border: 2px solid purple;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;

}

a:hover {
    color: blue;
    border-bottom: 2px solid red;
}

#post-container {
    border: 2x solid red;
    margin-top: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#title {
    margin-bottom: 1.3rem;
    width: 50%;
    padding: 1.4rem;
}

#title h1 {
    font-size: 2rem;
}



.main-content {
    border: 2px solid darkblue;

}

.main-content h2 {
    color: rgb(2, 114, 84);
    text-align: center;
    font-size: 4rem;
}

.blog-post {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.blog-title {
    border: 2px solid darkcyan;
    border-radius: 3rem;
    font-size: 2.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.blog-contents {
    border: 2px solid darkgreen;
    border-radius: 2rem;
    width: 60%;
    padding: 2rem;
    background-color: white;
    /* From https://css.glass */
   

}
.blog-contents p{
    background-color: white;
}
small{
    
    font-size: 2rem;
    color: darkorchid;
}
hr{
    border-color: blueviolet;
    border-style: solid;
}
   /* this is the starting of create.html */
form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
label{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}
#input-title {
    height: 2rem;
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid magenta;
}
input::placeholder{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

}
textarea::placeholder{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

}

#txtarea-blog{
    border: 2px solid teal;
    height: 35rem;
    width: 50%;

}

button{
    border: 2px solid brown;
    text-decoration: none;
    border: 2px solid aqua;
    padding: 1rem 3rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
button:hover{
    color:yellow;
    background-color: purple;
    transition: 1.5s;
}